.DS_Store
Package.resolved
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
/.swiftpm
.netrc

# IntelliJ IDEA specific
.idea/
*.iml

# Visual Studio Code specific
.vscode/

# macOS system files
.DS_Store